# Unifica identidades duplicadas da mesma pessoa (métricas 2.6 e 2.7)
Netinho <josegomescabralneto@gmail.com>
Netinho <josegomescabralneto@gmail.com> <jose.gc.neto@aluno.uepa.br>
Lucas Henrique <lucashsouza101@gmail.com>
Lucas Henrique <lucashsouza101@gmail.com> <167329143+LucaasHenrique@users.noreply.github.com>
Hanrry Santos <hanrry.jsantos@gmail.com>
Hanrry Santos <hanrry.jsantos@gmail.com> <hanrry.santos@aluno.uepa.br>
